footer{
    h3{
        letter-spacing: -0.2px;
        line-height: 140%;
    }


    a:not([data-slot="button"]){
        color: #fff;
        transition: color 0.3s ease;
        cursor: pointer;
    
        &:hover{
            color: $primary-link;
        }
    }
}