@import './base/colors.scss';
@import './base/typography.scss';
@import './components/footer.scss';
@import './components/brandCard.scss';
@import './components/blogCard.scss';
@import './components/tabs.scss';
@import './page/singleBlog.scss';
@import './components/nav.scss';
@import './components/newsletterBlock.scss';
@import './page/singleResidence.scss';
@import './components/forms.scss';

body {
    scroll-behavior: smooth;
}

button,
a {
    cursor: pointer;
}

.menu-wrapper a.contact-button:hover {
    color: #fff !important;
    background-color: #ffffff11 !important;
    transition: all 0.3s ease;
}

.custom-card {
    background-color: hsl(206 18% 9% / 1);
}

.contact-form {

    input,
    textarea {
        background-color: transparent;
    }
}

.faq-title {
    font-family: 'InterDisplay';
}

.residence-filters,
.unit-filters {

    input,
    select,
    button:not([type="submit"]):not([role="switch"]):not([role="checkbox"]) {
        background-color: #101417;
        color: #fff;
        border-color: oklch(1 0 0 / 5%);
    }
}

.custom-form {

    input,
    select,
    textarea,
    button:not([type="submit"]):not([role="switch"]):not([role="checkbox"]) {
        background-color: transparent;
        color: #fff;
    }

    span[data-slot="badge"] {
        margin-bottom: 0;
        background-color: #1c252b;
        border-radius: 8px;
    }
}

.search-wrapper {
    background-color: #101417;
    top: -4px;

    input {
        background-color: transparent;
        color: #fff;
    }
}

div[data-radix-select-viewport] {
    background-color: #101417;
    border-color: oklch(1 0 0 / 5%);

    div[role="option"] {
        transition: 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
            background-color: #ffffff11;
        }
    }
}

div[data-slot="select-scroll-up-button"],
div[data-slot="select-scroll-down-button"] {
    background-color: #101417;
}

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/zoom';

.swiper-button-prev,
.swiper-button-next {
    background-color: #0000008a !important;
    width: 40px !important;
    height: 40px !important;
    overflow: hidden !important;
    padding: 0.5rem !important;
    border-radius: 8px;

    &::after,
    &::before {
        width: 100% !important;
        height: 100% !important;
        font-size: 1.5rem !important;
        text-align: center;
        color: #fff;
        font-weight: 500;
    }
}

.swiper-pagination-bullet {
    background-color: #fff !important;
}

.swiper-pagination-bullet-active {
    background-color: #b3804c !important;
}

.bg-popover {
    background: #101417 !important;
}

#match-trigger {
    bottom: 105px;
    max-width: calc(100% - 1.5rem);
    margin: 0 auto;
}

.no-favorite-heart {
    #favorite-heart {
        display: none;
    }
}

.ai-residence-card {
    #favorite-heart {
        position: relative !important;
        right: 0 !important;
        top: 0 !important;
        background-color: transparent !important;
    }
}

.scroll-tabs {
    overflow-x: scroll;
    scrollbar-width: none;
    position: relative;

    &::after {
        content: "";
        display: block;
        width: 30px;
        height: 100%;
        background: linear-gradient(to right, transparent, #f9f4f1);
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 100;
    }

}

.hide-scrollbar {
    &::-webkit-scrollbar {
        display: none;
    }
}

.status-select {
    button {
        background-color: transparent;
    }
}

/* Dodaj u globals.css ili component CSS */
.download-ready {
    color: rgb(255 255 255) !important;
}

.download-ready * {
    color: inherit !important;
    background-color: transparent !important;
}


.custom-card-title {
    font-family: 'PPEiko';
    font-weight: 500;
    letter-spacing: 0.2px;
}

.plan-price {
    span {
        font-weight: 500;
        letter-spacing: 0.75px;
    }
}
